<!-- <mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    Admin DashBoard
</mat-toolbar> -->
<mat-sidenav-container>
    <!-- <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar mat-elevation-z8" src="https://www.kindpng.com/picc/m/252-2524695_dummy-profile-image-jpg-hd-png-download.png">

        <h4 class="user"><b>Admin</b></h4>
        

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <span routerLink="/home"> Home</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>account_circle</mat-icon>
            <span> Profile</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>shopping_cart</mat-icon>
            <span> Logout</span>
        </button>
        <mat-divider></mat-divider>
    </mat-sidenav> -->
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <!--<img src="https://image.freepik.com/free-vector/man-look-graphic-chart-business-analytics-concept-big-data-processing-icon_39422-761.jpg">-->
            <!-- <img class="content mat-elevation-z8;" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTS_ec7RNJgDi8DWMLfiSwuXb-Kjo-i42XarqCfhmKwIcT0qI_k"> -->
            <!-- <img class="content mat-elevation-z8;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdDrRn1Dc2hIlQD035kRFuHA4hyDJlnPGEdg&usqp=CAU"> -->
             <!-- <img class="content mat-elevation-z8;" src="https://previews.123rf.com/images/elnur/elnur1907/elnur190710731/127670111-the-concept-of-online-hotel-booking.jpg"> -->
            <!--<img class="content mat-elevation-z8;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg9lp86L2IAgpQV6duGVzpvwp87RKktYnN5w&usqp=CAU">-->
            <!-- <img class="content mat-elevation-z8;" src="https://image.shutterstock.com/image-vector/tickets-online-booking-concept-various-600w-414577027.jpg"> -->
            <!-- <img src="https://previews.123rf.com/images/pichetw/pichetw1407/pichetw140700052/30450232-hand-clicking-book-online-button-on-a-touch-screen-interface.jpg?fj=1"> -->
            <!-- <img src="https://previews.123rf.com/images/elnur/elnur1908/elnur190801129/128017047-concept-of-online-booking-for-trip.jpg"> -->
            <img style="height: 509px; width: 1220px" src="https://previews.123rf.com/images/wrightstudio/wrightstudio1610/wrightstudio161000214/64803047-kobieta-korzysta-z-nowoczesnego-tabletu-naciskaj%C4%85c-na-ekran-dotykowy-i-wybieraj%C4%85c-opcj%C4%99-%E2%80%9Erezerwacja-.jpg">
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
