h1{
    text-align: center;
    vertical-align: center ;
    background-color: #1abc9c;
    color: whitesmoke;
    font-style:initial;
    font-size: 40px;
    padding-bottom: 22px;
    word-spacing: 10px;
    margin-bottom: auto;
}

ul {
    list-style-type: none;
    padding: 0px;
    width: 250px;
    background-color: #61d1f3;
    height: 520px;
    margin-top: -5px;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  .bg{
    /* background-color: rgb(92, 104, 156);
    height : 698px; */
    background-image: url(https://c4.wallpaperflare.com/wallpaper/206/544/63/clouds-the-plane-flight-boeing-wallpaper-preview.jpg);
    background-size: cover;
    height : 698px;
}
  
  li a.active {
    background-color: #04AA6D;
    color: white;
  }

h3 {
    background-color: rgb(48, 60, 112);
    color: rgb(238, 230, 230);
    padding: 20px;
    width: 250px;
    margin-top: auto;
  }

  a.ahome {
    background-color: #555;
    text-align: center;
    color: rgb(238, 230, 230);
    width: 250px;
    height:70px;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
    height: 70px;
  }